.button {
  position: relative;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;

  font-size: var(--font-size-basic);
  line-height: 1.2;
  letter-spacing: 0.02em;

  border: 1px solid;
  border-radius: var(--border-radius-controls);
  cursor: pointer;

  transition:
    background-color var(--transition-active),
    border-color var(--transition-active),
    color var(--transition-active);

  font-variation-settings: "wght" 560;
}

.inner {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  outline: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus {
  outline: none;
}

.button[data-focus-visible="true"]:not(:disabled) {
  outline: var(--focus-outline);
}

.default {
  color: var(--color-primary);

  background-color: color-mix(in oklab, var(--color-primary) 8%, transparent);
  border-color: transparent;
}

.default:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-primary) 14%, transparent);
  border-color: transparent;
}

.primary {
  color: var(--color-base);

  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow:
    0 2px 4px #00000026,
    0 2px 6px #00000014;
}

.primary:disabled,
.primary.disabled {
  color: color-mix(in oklab, var(--color-base) 50%, transparent);

  box-shadow: none;
}

.primary:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-primary) 90%, transparent);
  border-color: color-mix(in oklab, var(--color-primary) 90%, transparent);
}

.primary:active {
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  .button.primary[data-focus-visible="true"] {
    border-color: var(--color-base);
  }
}

.hidden {
  visibility: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
