.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 64px;
  padding-top: 16px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;

  background-color: color-mix(in oklab, var(--color-base) 99%, transparent);
}

.fontInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: var(--font-size-base);
}

.fontFileSize {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 16px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group > header {
  position: sticky;
  top: 52px;
  z-index: 1;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;

  background-color: color-mix(in oklab, var(--color-base) 99%, transparent);
}

.group h3 {
  margin: 0;

  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-header);
}

.group > header p {
  margin: 0;

  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.groupMeta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: var(--font-size-small);
}

.groupWeight {
  color: var(--color-secondary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  gap: 2px;
}

.cell {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 4px;
  padding: 8px;

  background-color: color-mix(in oklab, var(--color-primary) 3%, transparent);
  cursor: default;

  transition: background-color var(--transition-basic);
}

.cell:hover {
  background-color: color-mix(in oklab, var(--color-primary) 8%, transparent);
}

.glyphSvg {
  width: 100%;

  color: var(--color-primary);

  aspect-ratio: 1;
}

.glyphPlaceholder {
  font-size: 400px;

  fill: var(--color-secondary);
}

.info {
  display: grid;
  align-items: flex-end;
  height: 32px;

  font-size: 10px;
  font-family: ui-monospace, monospace;
  text-transform: capitalize;
}

.name {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.code {
  color: var(--color-secondary);
}
