.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 64px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;

  background-color: color-mix(in oklab, var(--color-base) 99%, transparent);
}

.fontInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: var(--font-size-base);
}

.fontFileSize {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 16px;
}
