.loader {
	display: flex;
	justify-content: center;
	margin: auto;
}

.dot {
	border-radius: 50%;

	animation: loading 1.8s ease-in-out infinite;
	animation-fill-mode: backwards;
}

.dot.second {
	animation-delay: 0.3s;
}

.dot.third {
	animation-delay: 0.6s;
}

.dot.default {
	background-color: currentcolor;
}

.dot.accent {
	background-color: hsl(var(--color-primary));
}

.dot.small {
	width: 6px;
	height: 6px;
	margin: 0 1px;
}

.dot.medium {
	width: 8px;
	height: 8px;
	margin: 0 2px;
}

.dot.large {
	width: 12px;
	height: 12px;
	margin: 0 2px;
}

@keyframes loading {
	0%,
	98%,
	100% {
		transform: scale(0);
	}

	49% {
		transform: scale(1);
	}
}
