.failed {
  animation: failed 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes failed {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.relative {
  position: relative;
}

.fc {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap, 0);
}

.f {
  display: flex;

  column-gap: var(--gap, 0);
}

.fr {
  display: flex;
  flex-direction: row-reverse;

  column-gap: var(--gap, 0);
}

.fw {
  flex-wrap: wrap;
}

.fj-b {
  justify-content: space-between;
}

.fj-c {
  justify-content: center;
}

.fa-c {
  align-items: center;
}

.fa-s {
  align-items: flex-start;
}

.g1 {
  --gap: 4px;
}

.g2 {
  --gap: 8px;
}

.g3 {
  --gap: 12px;
}

.g4 {
  --gap: 16px;
}

.g8 {
  --gap: 32px;
}

.g10 {
  --gap: 40px;
}

.g12 {
  --gap: 48px;
}

.pt-10 {
  padding-top: 40px;
}
