:root {
  --color-base: #fefefe;
  --color-primary: #000;
  --color-secondary: rgb(0 0 0 / 40%);
  --color-divider: color-mix(in oklab, var(--color-primary) 8%, transparent);
  --color-focus: hsl(48 98% 58%);

  /* Font sizes */
  --font-size-title: 32px;
  --font-size-header: 22px;
  --font-size-large: 20px;
  --font-size-basic: 15px;
  --font-size-small: 12px;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 460;
  --font-weight-bold: 640;

  /* Misc */
  --border-radius-controls: 5px;
  --border-radius-panels: 8px;
  --height-controls: 36px;
  --height-controls-small: 26px;

  /* Animations */
  --transition-active: 0.07s ease-out;
  --transition-basic: 0.1s ease-out;

  /* Elevation */
  --z-index-menu: 1000;
  --z-index-dialog: var(--z-index-menu) - 1;
  --z-index-focus: 10;

  /* Shadows */
  --shadow-menu:
    0 25px 40px -15px rgb(var(--color-dark-rgb) 0.15),
    0 5px 10px -5px rgb(var(--color-dark-rgb) 0.1),
    0 1px 2px 0 rgb(var(--color-dark-rgb) 0.1);
  --shadow-dialog:
    0 20px 20px -15px hsl(var(--color-black-hsl) / 15%),
    0 0 10px 0 hsl(var(--color-black-hsl) / 8%),
    0 5px 10px -5px hsl(var(--color-black-hsl) / 10%),
    0 0 2px 0 hsl(var(--color-black-hsl) / 8%);
  --shadow-button-base:
    0 1px 2px hsl(var(--color-primary) / 8%),
    0 2px 6px hsl(var(--color-primary) / 4%);

  /* Focus */
  --focus-outline-style: 3px solid;
  --focus-outline: 3px solid var(--color-focus);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #121212;
    --color-primary: #fff;
    --color-secondary: rgb(255 255 255 / 60%);
    --color-focus: hsl(42 95% 59%);
  }
}
