.bar {
	position: relative;

	width: 100%;
	height: 100%;
	min-height: 2px;
	overflow: hidden;

	border-radius: var(--border-radius-controls);
}

.track {
	position: absolute;
	inset: 0;

	background-color: currentcolor;
	opacity: 0.3;
}

.progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	background-color: currentcolor;
	border-radius: var(--border-radius-controls);
}
