.list {
  display: grid;
  width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 24px;

  list-style: none;
}

.item {
  display: grid;
  padding: 8px 12px;
}

.name {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.size {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}
